//@font-face {
//    font-family: 'Museo Slab';
//    src: url('../fonts/museoslab/Museo_Slab_300-webfont.eot');
//    src: url('../fonts/museoslab/Museo_Slab_300-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/museoslab/Museo_Slab_300-webfont.woff2') format('woff2'),
//         url('../fonts/museoslab/Museo_Slab_300-webfont.woff') format('woff'),
//         url('../fonts/museoslab/Museo_Slab_300-webfont.ttf') format('truetype'),
//         url('../fonts/museoslab/Museo_Slab_300-webfont.svg#museo_slab300') format('svg');
//    font-weight: 300;
//    font-style: normal;
//}

@font-face {
    font-family: 'Museo Slab';
    src: url('../fonts/museoslab/Museo_Slab_500-webfont.eot');
    src: url('../fonts/museoslab/Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museoslab/Museo_Slab_500-webfont.woff2') format('woff2'),
         url('../fonts/museoslab/Museo_Slab_500-webfont.woff') format('woff'),
         url('../fonts/museoslab/Museo_Slab_500-webfont.ttf') format('truetype'),
         url('../fonts/museoslab/Museo_Slab_500-webfont.svg#museo_slab500') format('svg');
    font-weight: 400;
    font-style: normal;
}

//@font-face {
//    font-family: 'Museo Slab';
//    src: url('../fonts/museoslab/Museo_Slab_700-webfont.eot');
//    src: url('../fonts/museoslab/Museo_Slab_700-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/museoslab/Museo_Slab_700-webfont.woff2') format('woff2'),
//         url('../fonts/museoslab/Museo_Slab_700-webfont.woff') format('woff'),
//         url('../fonts/museoslab/Museo_Slab_700-webfont.ttf') format('truetype'),
//         url('../fonts/museoslab/Museo_Slab_700-webfont.svg#museo_slab700') format('svg');
//    font-weight: 700;
//    font-style: normal;
//}