@import "compass"
@import "compass/utilities/general/clearfix"
@import "compass/css3/images"
@import "compass/css3/opacity"
@import "compass/reset"

//------------------------------------------------------------------------------
//  Variable Default Overrides
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
//  Main
//------------------------------------------------------------------------------

@import "vendor/material-colors"
@import "nudoru/nudoru"
@import "nudoru.components/nudoru.components"

//------------------------------------------------------------------------------
//  Variables
//------------------------------------------------------------------------------

$z-index-initialization: 1100
$app-column-width: 90%

=light-texture
  background: url('../img/light_toast.png')

=dark-texture
  background: url('../img/shattered-island.gif')

//------------------------------------------------------------------------------
//  Scaffold
//------------------------------------------------------------------------------

// Some options to support the mobile app / drawer structure

body
  overflow: hidden
  +light-texture

#app__container
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden

#app__contents
  position: absolute
  bottom: 100%
  min-height: 100%
  top: 0
  left: 0
  right: 0
  overflow-y: auto

//------------------------------------------------------------------------------
//  Elements
//------------------------------------------------------------------------------

#initialization__cover
  @extend %full-background-coverage
  z-index: $z-index-initialization
  background-color: #eee

.initialization__message
  @extend %body-text-big
  position: relative
  overflow: hidden
  text-align: center
  width: 300px
  heigth: 50px
  margin: auto
  top: 200px
  padding: $double-base-line-height
  background-color: #fff
  +shadow__one-edge-large
  h1
    padding: 0
    margin: 0
    margin-bottom: $base-line-height
    color: $dark-blue
    font-size: 1.2em
  .loader
    display: inline-block
    width: 25px
    height: 25px

//------------------------------------------------------------------------------
//  App Stuff
//------------------------------------------------------------------------------

.app__column
  display: block
  width: $app-column-width
  margin: 0 auto
  padding: $double-base-line-height

.app__header
  display: block
  width: 100%
  overflow: hidden
  background-color: #fff
  +shadow__panel-slight
  h1
    margin: 0
    padding: 0
    font-size: $ms-1
    line-height: $ms-1

.app__header-logo
  float: left
  margin-right: $base-line-height
  i.fa
    color: $color-base-light
    font-size: $ms-1
    line-height: $ms-1

.app__header-nav
  float: right
  @extend .list-plain-horizontal
  li
    margin-right: $double-base-line-height
    &:last-of-type
      margin-right: 0
    a
      font-family: $font-header
      text-decoration: none

.app__hero
  +dark-texture
  display: block
  width: 100%
  overflow: hidden
  padding-top: $triple-base-line-height
  padding-bottom: $triple-base-line-height
  h1,h2,h3,h4,h5 h6,p,li
    color: #fff
    text-align: center
    text-shadow: 0 2px 0 #000
  h1
    margin: 0
    padding: 0

.app__content
  margin-top: -$base-line-height
  margin-bottom: $triple-base-line-height
  .app__column
    background-color: #fff
    +shadow__panel-slight

