.panel-shadow
  section.padding-top-double
    section.text-center.padding-bottom-double
      h1.h2-alternate Active Assignments
    table.table.table-rows-zebra
      thead
        tr
          th(scope='col')
          th(scope='col').column-20pct.center-column Start Date
          th(scope='col').column-20pct.center-column End Date
          th(scope='col').column-10pct.center-column Allocation
          th(scope='col').column-20pct.right-column
      tbody
        tr
          th ABC Project
          td.center-column
            input(id='input-text', type='text', placeholder='mm/dd', style='width: 100px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='mm/dd', style='width: 100px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='%', style='width: 50px').subtle
          td.right-column
            button.button-small.button-icon-left.button-neutral-light
              i.fa.fa-archive
              | Remove
        tr
          th XYZ Solution
          td.center-column
            input(id='input-text', type='text', placeholder='mm/dd', style='width: 100px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='mm/dd', style='width: 100px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='%', style='width: 50px').subtle
          td.right-column
            button.button-small.button-icon-left.button-neutral-light
              i.fa.fa-archive
              | Remove
        tr
          th Financial Assessment 1.2
          td.center-column
            input(id='input-text', type='text', placeholder='mm/dd', style='width: 100px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='mm/dd', style='width: 100px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='%', style='width: 50px').subtle
          td.right-column
            button.button-small.button-icon-left.button-neutral-light
              i.fa.fa-archive
              | Remove
        tr
          th Innovation Team X
          td.center-column
            input(id='input-text', type='text', placeholder='mm/dd', style='width: 100px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='mm/dd', style='width: 100px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='%', style='width: 50px').subtle
          td.right-column
            button.button-small.button-icon-left.button-neutral-light
              i.fa.fa-archive
              | Remove
    section.text-center
        button.button-icon-left
          i.fa.fa-plus-circle
          | Add Assignment


      //.column-container
      //  .half-left-column.text-left
          button.button-icon-left
            i.fa.fa-plus-circle
            | Add Assignment
      //  .half-right-column.text-right
    section.panel-footer
      button.button-success Update
