.panel-shadow
  section.padding-top-double
    section.text-center
      h1.h2-alternate Capacity Forecast
    section.text-center.padding-bottom-double
      button.button-neutral-light One Month
      button.button-neutral-light Three Month
      button Six Month
      button.button-neutral-light Year
    table.table.table-rows-zebra
      tbody
        tr
          th ABC Project
          td
          td
          td
          td
          td
          td
        tr
          th XYZ Solution
          td
          td
          td
          td
          td
          td
        tr
          th Financial Assessment 1.2
          td
          td
          td
          td
          td
          td
        tr
          th Innovation Team X
          td
          td
          td
          td
          td
          td
      tfoot
        tr
          th.right-column
          th.center-column June
          th.center-column July
          th.center-column Aug
          th.center-column Sept
          th.center-column Oct
          th.center-column Nov
  section.panel-message-footer.margin-top-double
    h1.icon-left
      i.fa.fa-lightbulb-o
      | Keep in Mind ...
    p Forecasts are based on current allocation percentages in addition to project start and end dates. Adjusting information in the assignments view will impact forecast estimates.