doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title App
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    link(rel='stylesheet', type='text/css', href='css/app.css')
    <!--[if lte IE 9]>
    script(src='scripts/vendor/html5shiv.min.js')
    <![endif]-->
    include templates-components.html
    include templates-views.html
  body
    #app__container
      #drawer
        .header
          h1 Options
        .content
          ul.list-round-buttons
            li
              .button
                i.fa.fa-list
              .label Time Card
            li
              .button
                i.fa.fa-calendar
              .label Forecast
            li
              .button
                i.fa.fa-cubes
              .label Assignments
      #app__contents
        header#header
          h1.icon-left
            i.fa.fa-pencil
            em Time Management
        section#contents
          .padded-content
            //include mock-controlstesting
            //include mock-styletest
            //include mock-components
            include timeentry
            //include assignments
        //footer#footer
          p.icon-left
            i.fa.fa-cogs
            | IMA Footer

    #initialization__cover
      .initialization__message
        h1 Please Wait ...
        img(src='img/loading_squares_g.gif' alt='Loading Spinner').loader
    #modal__cover
      .modal__background
      .modal__close-button
        i.fa.fa-remove
    #messagebox__container
    #toast__container
    script(src='scripts/config.js')
    script(src='scripts/libs.js')
    script(src='//localhost:35729/livereload.js')