doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Solutions Gallery
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    link(href='http://fonts.googleapis.com/css?family=Podkova:400,700|Open+Sans:400,300,600,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', type='text/css', href='css/app.css')
    <!--[if lte IE 9]>
    script(src='scripts/vendor/html5shiv.min.js')
    <![endif]-->
  body
    #app__container
      #drawer
        nav#drawer__navigation
      #app__contents
        header#header
          .header__drawer-toggle
            button
              i.fa.fa-bars
          h1
          nav#header__navigation
        section.grid
          section.grid__header
            h1 Please wait ...
            .grid__header-search-form
              .grid__header-search
                input(placeholder='Search titles and tags' size='25')
                i.fa.fa-search
              button.basic-button#clearall-button
                i.fa.fa-remove
                em Clear All
          #grid__item-container
        footer#footer
          #tagbar__container
    #initialization__cover
      .initialization__message
        h1 Please Wait ...
    #modal__cover
      .modal__background
      .modal__close-button
        i.fa.fa-remove
      #details
    #floatimage__cover
      .floatimage__caption
    #toast__container
    script(src='scripts/config.js')
    script(src='scripts/libs.min.js')
    script(src='//localhost:35729/livereload.js')

