doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title App
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    link(rel='stylesheet', type='text/css', href='css/app.css')
    include templates-components.html
    include templates-views.html
  body
    header#header
      .logo
        i.fa.fa-rocket
      .title
        h1
          em Time
          |  Management
      nav
        button.button-small.button-neutral-light.icon-left
          i.fa.fa-table
          | Projects
        button.button-small.button-neutral-light.icon-left
          i.fa.fa-users
          | People
        button.button-small.button-neutral-light.icon-left
          i.fa.fa-dashboard
          | Dashboard
        button.button-small.icon-left
          i.fa.fa-life-bouy
          | How Do I?
    #app__container
      #drawer
        .header
          h1 Modules
        .content
          ul.list-round-buttons
            li
              .button#btn_assignments
                i.fa.fa-cubes
              .label Assignments
            li
              .button#btn_timecard
                i.fa.fa-list
              .label Time Card
            li
              .button#btn_forecast
                i.fa.fa-area-chart
              .label Cap. Forecast

      #app__contents
        section
          .padded-content
            //include mock-controlstesting
            //include mock-styletest
            //include mock-components
            include user-info
            section#contents
              //include forecast
              //include assignments
              //include timeentry
        //footer#footer
          p.icon-left
            i.fa.fa-cogs
            | IMA Footer

    #initialization__cover
      .initialization__message
        h1 Please Wait ...
        img(src='img/loading_squares_g.gif' alt='Loading Spinner').loader
    #tooltip__container
    #modal__cover
      .modal__background
      .modal__close-button
        i.fa.fa-remove
    #messagebox__container
    #toast__container
    script(src='scripts/config.js')
    script(src='scripts/libs.js')
    script(src='//localhost:35729/livereload.js')