<!--
BEGIN Templates for dynamic content
-->

<script id="template__component--toast" type="text/template">
    <div class="toast__item" id="<%= id %>">
        <div class="toast__item-content">
            <h1><%= title %></h1>
            <p><%= message %></p>
        </div>
        <div class="toast__item-controls">
            <button><i class="fa fa-close"></i></button>
        </div>
    </div>
</script>

<script id="template__messagebox--default" type="text/template">
    <div class="messagebox__default" id="<%= id %>">
        <div class="header" id="<%= id %>-header">
             <h1><%= title %></h1>
        </div>
        <div class="content">
             <%= content %>
        </div>
        <div class="footer">
                <button class="icon-right">Close<i class="fa fa-times"></i></button>
        </div>
    </div>
</script>

<!--
END
-->