<!--
BEGIN Templates for Components
-->

<script id="template__component--toast" type="text/template">
    <div class="toast__item" id="<%= id %>">
        <div class="toast__item-content">
            <h1><%= title %></h1>
            <p><%= message %></p>
        </div>
        <div class="toast__item-controls">
            <button><i class="fa fa-close"></i></button>
        </div>
    </div>
</script>

<script id="template__component--tooltip" type="text/template">
    <div class="tooltip__item" id="<%= id %>">
        <div class="tooltip__item-content">
            <p><%= message %></p>
        </div>
    </div>
</script>

<script id="template__messagebox--default" type="text/template">
    <div class="messagebox__default" id="<%= id %>">
        <div class="header" id="<%= id %>-header">
             <h1><%= title %></h1>
        </div>
        <div class="content">
             <%= content %>
        </div>
        <div class="footer">
            <div class="footer-buttons">
                <div class="button" id="<%= id %>-button-close">
                    <button>Close</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="template__messagebox--button-noicon" type="text/template">
    <div class="button <%= type %>" id="<%= id %>">
        <button><%= label %></button>
    </div>
</script>

<script id="template__messagebox--button-icon" type="text/template">
    <div class="button icon-left <%= type %>" id="<%= id %>">
        <button><i class="fa fa-<%= icon %>"></i><%= label %></button>
    </div>
</script>

<!--
END Templates for Components
-->