.panel-shadow
  .column-container.panel-header
    .half-left-column
      h1.h1-alternate Welcome,
        em  Joe Timely
    .half-right-column.text-right
      button.button-icon-left
        i.fa.fa-cubes
        | Manage my assignments
      button.button-icon-left
        i.fa.fa-calendar
        | Manage my time
  section.padding-top-double
    .column-container
      .one-fourth-left-column
        button.button-icon-left.button-neutral-light
          i.fa.fa-chevron-circle-left
          | Previous Wk
      .half-left-column.text-center
        h1.h1-alternate Week of
          em  May 10-16, 2015
        button.button-icon-left.button-no-border
          i.fa.fa-calendar
          | View Full Month
      .one-fourth-right-column.text-right
        button.button-icon-right.button-neutral-light Next Wk
          i.fa.fa-chevron-circle-right
    hr
    table.table.table-rows-zebra
      thead
        tr
          th(scope='col')
          th(scope='col', style="width: 40px")
          th(scope='col').column-10pct.center-column Sun
          th(scope='col').column-10pct.center-column Mon
          th(scope='col').column-10pct.center-column Tue
          th(scope='col').column-10pct.center-column Wed
          th(scope='col').column-10pct.center-column Thur
          th(scope='col').column-10pct.center-column Fri
          th(scope='col').column-10pct.center-column Sat
      tbody
        tr
          th ABC Project
          th
            i.fa.fa-briefcase
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
        tr
          th XYZ Solution
          th
            i.fa.fa-briefcase
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
        tr
          th Financial Assessment 1.2
          th
            i.fa.fa-briefcase
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
        tr
          th Innovation Team X
          th
            i.fa.fa-briefcase
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
        tr.header-grey
          th Personal Development
          th
            i.fa.fa-user
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
        tr.header-grey
          th PTO
          th
            i.fa.fa-user
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
        tr.header-grey
          th Sick
          th
            i.fa.fa-user
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
          td.center-column
            input(id='input-text', type='text', placeholder='hrs', style='width: 50px')
      tfoot
        tr
          th.right-column Totals
          th
          th.center-column 0 hrs
          th.center-column 10 hrs
          th.center-column 8 hrs
          th.center-column 8 hrs
          th.center-column 8 hrs
          th.center-column 8 hrs
          th.center-column 0 hrs
    section.text-right.panel-footer
      button.button-icon-right.button-danger Submit 42 hrs
        i.fa.fa-check