.user-info-header
  .image
    .user-profile-image
      img(src='img/animals/racoon.jpg')
  .name Welcome, Joe Timely

.panel-shadow
  .panel-header
    h1 Time Card
  section
    .column-container
      .one-fourth-left-column
        button.button-icon-left.button-neutral-light
          i.fa.fa-chevron-circle-left
          | Previous Wk
      .half-left-column.text-center
        h1.h1-alternate Week of May 10-16, 2015
        //button.button-icon-left.button-no-border
        //  i.fa.fa-calendar
        //  | View Full Month
      .one-fourth-right-column.text-right
        button.button-icon-right.button-neutral-light Next Wk
          i.fa.fa-chevron-circle-right
    table.table.table-rows-zebra
      thead
        tr
          th(scope='col', style="")
          th(scope='col', style="width: 125px").center-column Role
          th(scope='col', style="width: 85px").center-column Mon
          th(scope='col', style="width: 85px").center-column Tue
          th(scope='col', style="width: 85px").center-column Wed
          th(scope='col', style="width: 85px").center-column Thur
          th(scope='col', style="width: 85px").center-column Fri
          th(scope='col', style="width: 200px").center-column Comments
      tbody
        tr
          th ABC Project
          td.center-column
            select(id='input-select').subtle
              option Consult
              option Analysis
              option Design
              option Develop
              option Implement
              option Evaluate
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='Comment', style='width: 178px').subtle
        tr
          th XYZ Solution
          td.center-column
            select(id='input-select').subtle
              option Consult
              option Analysis
              option Design
              option Develop
              option Implement
              option Evaluate
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='Comment', style='width: 178px').subtle
        tr
          th Financial Assessment 1.2
          td.center-column
            select(id='input-select').subtle
              option Consult
              option Analysis
              option Design
              option Develop
              option Implement
              option Evaluate
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='Comment', style='width: 178px').subtle
        tr
          th Innovation Team X
          td.center-column
            select(id='input-select').subtle
              option Consult
              option Analysis
              option Design
              option Develop
              option Implement
              option Evaluate
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='Comment', style='width: 178px').subtle
        //tr.row-header-inline
        //  td(colspan='9') Default activities
        tr.header-grey
          th Enrichment
          td.center-column
            select(id='input-select').subtle
              option Personal
              option Mandatory
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='Comment', style='width: 178px').subtle
        tr.header-grey
          th Out of Office
          td.center-column
            select(id='input-select').subtle
              option Vacation
              option Sick
              option Other
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='', style='width: 50px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='Comment', style='width: 178px').subtle
      tfoot
        tr
          th.right-column Totals
          th.center-column
          th.center-column 10 hrs
          th.center-column 8 hrs
          th.center-column 8 hrs
          th.center-column 8 hrs
          th.center-column 8 hrs
          th.center-column
    section.text-right.panel-footer
      button.button-icon-right.button-danger Submit 42 hrs
        i.fa.fa-check