.panel-shadow
  .column-container
    .one-third-left-column
      .user-info-header
        .image
          .user-profile-image
            img(src='img/animals/racoon.jpg')
        .name Joe Timely
    .two-thirds-right-column
      ul.horizontal-statics
        li
          h1 Lifetime Projects
          p 125
        li
          h1 Lifetime Hours
          p 9999