.panel-shadow.padding-none.margin-bottom-double
  .column-container
    .half-left-column
      .user-info-header
        .image
          .user-profile-image
            img(src='img/animals/racoon.jpg')
        .name Elliott Manfredonia
    .half-right-column
      ul.horizontal-statics.control-border-left.control-background-light
        li
          h1 Lifetime Projects
          p 125
        li
          h1 Lifetime Hours
          p 9999