@import "../utils/variables"
@import "../utils/image-cover"

//------------------------------------------------------------------------------
//  Scaffold
//------------------------------------------------------------------------------

// Some options to support the mobile app / drawer structure

body
  overflow: hidden
  background-color: #eee

#app__container
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden

#app__contents
  position: absolute
  bottom: 100%
  min-height: 100%
  top: 0
  left: $app-drawer-width
  right: 0
  overflow-y: auto

//------------------------------------------------------------------------------
//  Elements
//------------------------------------------------------------------------------

#initialization__cover
  @extend %full-background-coverage
  z-index: $z-index-initialization
  background-color: $color-white-grey-fill

.initialization__message
  position: relative
  top: 200px
  margin: auto
  padding: $double-base-line-height
  width: 300px
  text-align: center
  background-color: #fff
  border-radius: $border-radius
  +shadow__card-large
  h1
    padding: 0
    margin: 0
    margin-bottom: $double-base-line-height
    color: $dark-blue
    font-size: $ms-3
  .loader
    display: inline-block
    width: 25px
    height: 25px