//@font-face {
//    font-family: 'Titillium';
//    src: url('../fonts/titillium/Titillium-Light-webfont.eot');
//    src: url('../fonts/titillium/Titillium-Light-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/titillium/Titillium-Light-webfont.woff2') format('woff2'),
//         url('../fonts/titillium/Titillium-Light-webfont.woff') format('woff'),
//         url('../fonts/titillium/Titillium-Light-webfont.ttf') format('truetype'),
//         url('../fonts/titillium/Titillium-Light-webfont.svg#titilliumlight') format('svg');
//    font-weight: 300;
//    font-style: normal;
//}

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/titillium/Titillium-Regular-webfont.eot');
    src: url('../fonts/titillium/Titillium-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium/Titillium-Regular-webfont.woff2') format('woff2'),
         url('../fonts/titillium/Titillium-Regular-webfont.woff') format('woff'),
         url('../fonts/titillium/Titillium-Regular-webfont.ttf') format('truetype'),
         url('../fonts/titillium/Titillium-Regular-webfont.svg#titilliumregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

//@font-face {
//  font-family: 'Titillium';
//  src: url('../fonts/titillium/Titillium-Bold-webfont.eot');
//  src: url('../fonts/titillium/Titillium-Bold-webfont.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/titillium/Titillium-Bold-webfont.woff2') format('woff2'),
//  url('../fonts/titillium/Titillium-Bold-webfont.woff') format('woff'),
//  url('../fonts/titillium/Titillium-Bold-webfont.ttf') format('truetype'),
//  url('../fonts/titillium/Titillium-Bold-webfont.svg#titillium_bdbold') format('svg');
//  font-weight: 600;
//  font-style: normal;
//}


@font-face {
    font-family: 'Titillium';
    src: url('../fonts/titillium/Titillium-Semibold-webfont.eot');
    src: url('../fonts/titillium/Titillium-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium/Titillium-Semibold-webfont.woff2') format('woff2'),
         url('../fonts/titillium/Titillium-Semibold-webfont.woff') format('woff'),
         url('../fonts/titillium/Titillium-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/titillium/Titillium-Semibold-webfont.svg#titilliumbold') format('svg');
    font-weight: 700;
    font-style: normal;
}