$tooltip-border-radius: 22px
$tooltip-point-border-radius: 3px

#tooltip__container
  //position: fixed
  //top: 0
  //right: 0
  z-index: $z-index-tooltip-container

.tooltip__item
  @extend .panel-border
  border: 1px solid rgba(0,0,0,.1)
  background-color: #fff
  position: absolute
  display: table
  width: 200px
  padding: 0
  overflow: hidden
  box-shadow: 2px 2px 5px rgba(0,0,0,.3), inset 1px 1px 0 rgba(255,255,255,.25)

.tooltip__item-content
  padding: $base-line-height
  display: table-cell

.tooltip__item-content
  .title, p
    padding: 0
    margin: 0
    line-height: $base-line-height + $half-base-line-height
    font-family: $font-content
    font-size: .8rem
    font-weight: 700
    color: $control-primary-color-dark
  .title
    font-weight: 700
    margin-right: $half-base-line-height

=tooltip-variation($color)
  background-color: $color
  .tooltip__item-content
    h1, p
      color: #fff
      +control-emboss-shadow

.tooltip__information
  +tooltip-variation($control-primary-color)

.tooltip__success
  +tooltip-variation($control-success-color-dark)

.tooltip__warning
  +tooltip-variation($control-warning-color-dark)

.tooltip__danger
  +tooltip-variation($control-danger-color)

.tooltip__top
  border-radius: $tooltip-border-radius $tooltip-border-radius $tooltip-point-border-radius $tooltip-point-border-radius

.tooltip__topright
  border-radius: $tooltip-border-radius $tooltip-border-radius $tooltip-border-radius $tooltip-point-border-radius

.tooltip__right
  border-radius: $tooltip-point-border-radius $tooltip-border-radius $tooltip-border-radius $tooltip-point-border-radius

.tooltip__bottomright
  border-radius: $tooltip-point-border-radius $tooltip-border-radius $tooltip-border-radius $tooltip-border-radius

.tooltip__bottom
  border-radius: $tooltip-point-border-radius $tooltip-point-border-radius $tooltip-border-radius $tooltip-border-radius

.tooltip__bottomleft
  border-radius: $tooltip-border-radius $tooltip-point-border-radius $tooltip-border-radius $tooltip-border-radius

.tooltip__left
  border-radius: $tooltip-border-radius $tooltip-point-border-radius $tooltip-point-border-radius $tooltip-border-radius

.tooltip__topleft
  border-radius: $tooltip-border-radius $tooltip-border-radius $tooltip-point-border-radius $tooltip-border-radius