//------------------------------------------------------------------------------
//  General Mixins
//------------------------------------------------------------------------------

=control-disabled
  background-color: $color-shaded
  color: $color-base-dark
  border: none
  box-shadow: none
  text-shadow: none
  cursor: default

//------------------------------------------------------------------------------
//  Basics
//------------------------------------------------------------------------------

%control-text-base
  padding: 0
  margin: 0
  font-family: $font-content
  font-size: $ms-0
  line-height: $double-base-line-height
  color: $color-text-content
  font-weight: 400
  display: inline-block
  vertical-align: middle

%legend
  margin-bottom: $double-base-line-height
  width: 100%
  font-size: $ms-0
  font-weight: 700
  color: $control-primary-color-dark

