<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" type="text/css" href="css/app.css"><!--[if lte IE 9]>
    <script src="scripts/vendor/html5shiv.min.js"></script><![endif]--><!--
BEGIN Templates for dynamic content
-->

<script id="template__component--toast" type="text/template">
    <div class="toast__item" id="<%= id %>">
        <div class="toast__item-content">
            <h1><%= title %></h1>
            <p><%= message %></p>
        </div>
        <div class="toast__item-controls">
            <button><i class="fa fa-close"></i></button>
        </div>
    </div>
</script>


<!--
END
-->
  </head>
  <body>
    <div id="app__container">
      <!--#drawernav#drawer__navigation
      -->
      <div id="app__contents">
        <header id="header">
          <!--.header__drawer-toggle-->
          <!--  .drawer__menu-spinner-button-->
          <!--    input(type="checkbox")#drawer__menu-spinner-form-->
          <!--    label(for="drawer__menu-spinner-form").spinner-spin-->
          <!--      .spinner.diagonal.part-1-->
          <!--      .spinner.horizontal-->
          <!--      .spinner.diagonal.part-2-->
          <h1>Time Entry</h1>
        </header>
        <section id="contents">
          <div class="padded-content">
            <!--include mock-styletest-->
            <!--include mock-components-->
            <div class="panel-shadow">
              <div class="column-container">
                <h1>Welcome,<em>Joe Timely</em></h1>
              </div>
              <section>
                <h1><i class="fa fa-clock-o icon-left"></i>May 10-16, 2015
                  <label for="input-select" style="display: block"><i class="fa fa-calendar icon-left"></i>
                    <select id="input-select">
                      <option>Week 20</option>
                      <option>Week 21</option>
                      <option>Week 22</option>
                    </select>
                  </label>
                </h1>
                <table class="table table-rows-zebra">
                  <colgroup></colgroup>
                  <colgroup></colgroup>
                  <colgroup></colgroup>
                  <colgroup></colgroup>
                  <colgroup></colgroup>
                  <thead>
                    <tr>
                      <th scope="col" class="-align-left">Solution</th>
                      <th scope="col">% Allocation</th>
                      <th scope="col">Time this week</th>
                      <th scope="col">Weely Average</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>ABC Project</th>
                      <td>
                        <input id="input-text" type="text" placeholder="%" style="width: 75px">
                      </td>
                      <td>
                        <input id="input-text" type="text" placeholder="hrs" style="width: 75px">
                      </td>
                      <td>25 hrs</td>
                      <td>
                        <button class="button-icon-left button-no-border"><i class="fa fa-archive"></i>Archive</button>
                      </td>
                    </tr>
                    <tr>
                      <th>XYZ Solution</th>
                      <td>
                        <input id="input-text" type="text" placeholder="%" style="width: 75px">
                      </td>
                      <td>
                        <input id="input-text" type="text" placeholder="hrs" style="width: 75px">
                      </td>
                      <td>7 hrs</td>
                      <td>
                        <button class="button-icon-left button-no-border"><i class="fa fa-archive"></i>Archive</button>
                      </td>
                    </tr>
                    <tr>
                      <th>PTO</th>
                      <td>
                        <input id="input-text" type="text" placeholder="%" style="width: 75px">
                      </td>
                      <td>
                        <input id="input-text" type="text" placeholder="hrs" style="width: 75px">
                      </td>
                      <td>8 hrs</td>
                      <td>
                        <button class="button-icon-left button-no-border"><i class="fa fa-archive"></i>Archive</button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <button class="button-icon-left button-no-border"><i class="fa fa-plus"></i>Add New Project</button>
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Totals</th>
                      <th>100%</th>
                      <th>40 hrs</th>
                      <th></th>
                      <th>
                        <button class="button-icon-right button-success">Submit<i class="fa fa-check"></i></button>
                      </th>
                    </tr>
                  </tfoot>
                </table>
              </section>
            </div>
          </div>
        </section>
        <footer id="footer">
          <p>Footer content</p>
        </footer>
      </div>
    </div>
    <div id="modal__cover">
      <div class="modal__background"></div>
      <div class="modal__close-button"><i class="fa fa-remove"></i></div>
    </div>
    <div id="initialization__cover">
      <div class="initialization__message">
        <h1>Please Wait ...</h1><img src="img/loading_squares_g.gif" alt="Loading Spinner" class="loader">
      </div>
    </div>
    <div id="toast__container">
      <!--.toast__item(id='test')-->
      <!--  //.toast__item-content-->
      <!--  //  h1 Test Toast-->
      <!--  //  p Hello there! This is a toast control.-->
      <!--  //.toast__item-controls-->
      <!--  //  button-->
      <!--  //    i.fa.fa-close-->
    </div>
    <script src="scripts/config.js"></script>
    <script src="scripts/libs.js"></script>
    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>