<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" type="text/css" href="css/app.css"><!--[if lte IE 9]>
    <script src="scripts/vendor/html5shiv.min.js"></script><![endif]--><!--
BEGIN Templates for Components
-->

<script id="template__component--toast" type="text/template">
    <div class="toast__item" id="<%= id %>">
        <div class="toast__item-content">
            <h1><%= title %></h1>
            <p><%= message %></p>
        </div>
        <div class="toast__item-controls">
            <button><i class="fa fa-close"></i></button>
        </div>
    </div>
</script>

<script id="template__messagebox--default" type="text/template">
    <div class="messagebox__default" id="<%= id %>">
        <div class="header" id="<%= id %>-header">
             <h1><%= title %></h1>
        </div>
        <div class="content">
             <%= content %>
        </div>
        <div class="footer">
            <div class="footer-buttons">
                <div class="button" id="<%= id %>-button-close">
                    <button>Close</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="template__messagebox--button-noicon" type="text/template">
    <div class="button <%= type %>" id="<%= id %>">
        <button><%= label %></button>
    </div>
</script>

<script id="template__messagebox--button-icon" type="text/template">
    <div class="button icon-left <%= type %>" id="<%= id %>">
        <button><i class="fa fa-<%= icon %>"></i><%= label %></button>
    </div>
</script>

<!--
END Templates for Components
--><!--
BEGIN Templates for Views
-->
<script id="template__ControlsTesting" type="text/template">
    <div class="padded-content">
        <div class="column-container">
            <div class="one-third-left-column">
                <h1 class="h1-alternate">Mock Components</h1>
                <ul class="plain-list">
                    <li>
                        <button id="action-one">Action One</button>
                    </li>
                    <li>
                        <button id="action-two">Action Two</button>
                    </li>
                    <li>
                        <button id="action-three">Action Three</button>
                    </li>
                    <li>
                        <button id="action-four">Action Four</button>
                    </li>
                </ul>
            </div>
            <div class="two-thirds-right-column"></div>
        </div>
    </div>
</script>

<script id="template__TemplateSubView" type="text/template">
    <h1>Template Sub View</h1>
    <textarea id="input-textarea"></textarea>
</script>

<script id="template__TestSubView1" type="text/template">
    <h1>Test sub view 1</h1>
    <textarea id="input-textarea"></textarea>
</script>

<script id="template__TestSubView2" type="text/template">
    <h1>Test sub view 2</h1>
    <textarea id="input-textarea"></textarea>
</script>

<script id="template__TestSubView3" type="text/template">
    <h1>Test sub view 3</h1>
    <textarea id="input-textarea"></textarea>
</script>

<!--
END Templates for Views
-->
  </head>
  <body>
    <div id="app__container">
      <div id="drawer">
        <div class="header">
          <h1>Options</h1>
        </div>
        <div class="content">
          <ul class="list-round-buttons">
            <li>
              <div class="button"><i class="fa fa-list"></i></div>
              <div class="label">Time Card</div>
            </li>
            <li>
              <div class="button"><i class="fa fa-calendar"></i></div>
              <div class="label">Forecast</div>
            </li>
            <li>
              <div class="button"><i class="fa fa-cubes"></i></div>
              <div class="label">Assignments</div>
            </li>
          </ul>
        </div>
      </div>
      <div id="app__contents">
        <header id="header">
          <h1 class="icon-left"><i class="fa fa-pencil"></i><em>Time Management</em></h1>
        </header>
        <section id="contents">
          <div class="padded-content">
            <!--include mock-controlstesting-->
            <!--include mock-styletest-->
            <!--include mock-components-->
            <div class="panel-shadow">
              <div class="column-container">
                <div class="one-third-left-column">
                  <div class="user-info-header">
                    <div class="image">
                      <div class="user-profile-image"><img src="img/animals/racoon.jpg"></div>
                    </div>
                    <div class="name">Joe Timely</div>
                  </div>
                </div>
                <div class="two-thirds-right-column">
                  <ul class="horizontal-statics">
                    <li>
                      <h1>Lifetime Projects</h1>
                      <p>125</p>
                    </li>
                    <li>
                      <h1>Lifetime Hours</h1>
                      <p>9999</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--section.padding-top-double
            h1.h4-alternate Time Card
            
            -->
            <div class="panel-shadow">
              <section>
                <div class="column-container padding-bottom-triple">
                  <div class="one-fourth-left-column">
                    <button class="button-icon-left button-neutral-light"><i class="fa fa-chevron-circle-left"></i>Previous Wk</button>
                  </div>
                  <div class="half-left-column text-center">
                    <h1 class="h2-alternate">Week of May 10-16, 2015</h1>
                    <!--button.button-icon-left.button-no-border-->
                    <!--  i.fa.fa-calendar-->
                    <!--  | View Full Month-->
                  </div>
                  <div class="one-fourth-right-column text-right">
                    <button class="button-icon-right button-neutral-light">Next Wk<i class="fa fa-chevron-circle-right"></i></button>
                  </div>
                </div>
                <table class="table table-rows-zebra">
                  <thead>
                    <tr>
                      <th scope="col" style=""></th>
                      <th scope="col" style="width: 125px" class="center-column">Role</th>
                      <th scope="col" style="width: 85px" class="center-column">Mon</th>
                      <th scope="col" style="width: 85px" class="center-column">Tue</th>
                      <th scope="col" style="width: 85px" class="center-column">Wed</th>
                      <th scope="col" style="width: 85px" class="center-column">Thur</th>
                      <th scope="col" style="width: 85px" class="center-column">Fri</th>
                      <th scope="col" style="width: 200px" class="center-column">Comments</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>ABC Project</th>
                      <td class="center-column">
                        <select id="input-select" class="subtle">
                          <option>Consult</option>
                          <option>Analysis</option>
                          <option>Design</option>
                          <option>Develop</option>
                          <option>Implement</option>
                          <option>Evaluate</option>
                        </select>
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="Comment" style="width: 178px" class="subtle">
                      </td>
                    </tr>
                    <tr>
                      <th>XYZ Solution</th>
                      <td class="center-column">
                        <select id="input-select" class="subtle">
                          <option>Consult</option>
                          <option>Analysis</option>
                          <option>Design</option>
                          <option>Develop</option>
                          <option>Implement</option>
                          <option>Evaluate</option>
                        </select>
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="Comment" style="width: 178px" class="subtle">
                      </td>
                    </tr>
                    <tr>
                      <th>Financial Assessment 1.2</th>
                      <td class="center-column">
                        <select id="input-select" class="subtle">
                          <option>Consult</option>
                          <option>Analysis</option>
                          <option>Design</option>
                          <option>Develop</option>
                          <option>Implement</option>
                          <option>Evaluate</option>
                        </select>
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="Comment" style="width: 178px" class="subtle">
                      </td>
                    </tr>
                    <tr>
                      <th>Innovation Team X</th>
                      <td class="center-column">
                        <select id="input-select" class="subtle">
                          <option>Consult</option>
                          <option>Analysis</option>
                          <option>Design</option>
                          <option>Develop</option>
                          <option>Implement</option>
                          <option>Evaluate</option>
                        </select>
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="Comment" style="width: 178px" class="subtle">
                      </td>
                    </tr>
                    <!--tr.row-header-inline-->
                    <!--  td(colspan='9') Default activities-->
                    <tr class="header-grey">
                      <th>Enrichment</th>
                      <td class="center-column">
                        <select id="input-select" class="subtle">
                          <option>Personal</option>
                          <option>Mandatory</option>
                        </select>
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="Comment" style="width: 178px" class="subtle">
                      </td>
                    </tr>
                    <tr class="header-grey">
                      <th>Out of Office</th>
                      <td class="center-column">
                        <select id="input-select" class="subtle">
                          <option>Vacation</option>
                          <option>Sick</option>
                          <option>Other</option>
                        </select>
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="" style="width: 50px" class="subtle">
                      </td>
                      <td class="center-column">
                        <input id="input-text" type="text" placeholder="Comment" style="width: 178px" class="subtle">
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th class="right-column">Totals</th>
                      <th class="center-column"></th>
                      <th class="center-column">10 hrs</th>
                      <th class="center-column">8 hrs</th>
                      <th class="center-column">8 hrs</th>
                      <th class="center-column">8 hrs</th>
                      <th class="center-column">8 hrs</th>
                      <th class="center-column"></th>
                    </tr>
                  </tfoot>
                </table>
                <section class="text-right panel-footer">
                  <button class="button-icon-right">Submit 40 hrs<i class="fa fa-check"></i></button>
                </section>
              </section>
            </div>
            <!--include assignments-->
          </div>
        </section>
        <!--footer#footer
        p.icon-left
          i.fa.fa-cogs
          | IMA Footer
        
        -->
      </div>
    </div>
    <div id="initialization__cover">
      <div class="initialization__message">
        <h1>Please Wait ...</h1><img src="img/loading_squares_g.gif" alt="Loading Spinner" class="loader">
      </div>
    </div>
    <div id="modal__cover">
      <div class="modal__background"></div>
      <div class="modal__close-button"><i class="fa fa-remove"></i></div>
    </div>
    <div id="messagebox__container"></div>
    <div id="toast__container"></div>
    <script src="scripts/config.js"></script>
    <script src="scripts/libs.js"></script>
    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>