//http://codepen.io/mrnathan8/pen/mgFqJ

.drawer__menu-spinner-button * {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  box-sizing: border-box;
}

.drawer__menu-spinner-button {
  position: relative;
  height: 25px;
  width: 25px;
}

.drawer__menu-spinner-button input[type=checkbox] {
  display: none;
  margin: 0;
  padding: 0;
}

.drawer__menu-spinner-button label {
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 2px;
  left: 0;
}

.drawer__menu-spinner-button .spinner {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.drawer__menu-spinner-button .diagonal.part-1 {
  position: relative;
  float: left;
}

.drawer__menu-spinner-button .horizontal {
  position: relative;
  float: left;
  margin-top: 6px;
}

.drawer__menu-spinner-button .diagonal.part-2 {
  position: relative;
  float: left;
  margin-top: 6px;
}

.drawer__menu-spinner-button input[type=checkbox]:checked ~ .spinner-spin > .horizontal {
  opacity: 0;
}

.drawer__menu-spinner-button input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-1 {
  transform: rotate(405deg);
  -webkit-transform: rotate(405deg);
  margin-top: 9px;
}

.drawer__menu-spinner-button input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-2 {
  transform: rotate(-405deg);
  -webkit-transform: rotate(-405deg);
  margin-top: -12px;
}