#footer
  position: fixed
  z-index: $z-index-main-footer
  left: 0
  right: 0
  bottom: 0
  height: $footer-height
  padding: $base-line-height $double-base-line-height
  background-color: $dark-grey
  color: rgba(255,255,255,.5)
  text-align: center