.panel-shadow
  section.padding-top-double
    section.text-center.padding-bottom-double
      h1.h2-alternate Active Assignments
    table.table.table-rows-zebra
      thead
        tr
          th(scope='col')
          th(scope='col').column-20pct.center-column Start Date
          th(scope='col').column-20pct.center-column End Date
          th(scope='col').column-10pct.center-column Primary Role
          th(scope='col').column-20pct.right-column
      tbody
        tr
          th {ProjectName}
          td.center-column
            input(id='input-text', type='text', placeholder='mm/dd', style='width: 100px').subtle
          td.center-column
            input(id='input-text', type='text', placeholder='mm/dd', style='width: 100px').subtle
          td.center-column
            select(id='input-select').subtle
              option Consult
              option Analysis
              option Design
              option Develop
              option Rework
              option Implement
              option Evaluate
          td.right-column
            button.button-small.button-icon-left.button-neutral-light
              i.fa.fa-archive
              | Remove
    section.panel-message-footer.margin-top-double
      h1.icon-left
        i.fa.fa-lightbulb-o
        | Keep in Mind ...
      p Placeholder
    section.panel-footer
      button.button-icon-left.pull-left
        i.fa.fa-plus-circle
        | Add New Assignment
      button.button-success.icon-right Update
        i.fa.fa-check
