.panel-shadow
  section.padding-top-double
    section.text-center
      h1.h2-alternate Capacity Forecast
    section.text-center.padding-bottom-double
      button.button-neutral-light One Month
      button.button-neutral-light Three Month
      button.button-neutral-light Six Month
      button.button-neutral-light Year
    table.table.table-rows-zebra
      tbody
        tr
          th.center-column {ProjectName}
      tfoot
        tr
          th.right-column
  section.panel-message-footer.margin-top-double
    h1.icon-left
      i.fa.fa-lightbulb-o
      | Keep in Mind ...
    p Forecasts are based on current allocation percentages in addition to project start and end dates. Adjusting information in the assignments view will impact forecast estimates.