doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title App
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    link(rel='stylesheet', type='text/css', href='css/app.css')
    include templates-components.html
    include templates-views.html
  body
    header#header
      .logo
        i.fa.fa-rocket
      .title
        h1
          em Time
          |  Management
      nav#main_navigation
        button.button-small.button-neutral-light.icon-left#btn_main_projects
          i.fa.fa-table
          | Projects
        button.button-small.button-neutral-light.icon-left#btn_main_people
          i.fa.fa-users
          | People
        //button.button-small.button-neutral-light.icon-left#btn_main_dashboard
          i.fa.fa-dashboard
          | Dashboard
        button.button-small.icon-left#btn_main_help
          i.fa.fa-life-bouy
          | How Do I?
    #app__container
      #drawer
        .content
          ul.list-round-buttons#module_navigation
            li
              .button#btn_assignments
                i.fa.fa-cubes
              .label Assignments
            li
              .button#btn_timecard
                i.fa.fa-list
              .label Time Card
            li
              .button#btn_forecast
                i.fa.fa-area-chart
              .label Cap. Forecast
      #app__contents
        section
          .padded-content
            //section
              include timeentry
              include forecast
              include assignments
            section#userprofilepanel
            section#contents
    #initialization__cover
      .initialization__message
        h1 Please Wait ...
        img(src='img/loading_squares_g.gif' alt='Loading Spinner').loader
    #tooltip__container
    #modal__cover
      .modal__background
      .modal__close-button
        i.fa.fa-remove
    #coachmarks__container
    #messagebox__container
    #toast__container
    script(src='scripts/config.js')
    script(src='scripts/libs.min.js')
    script(src='scripts/nudoru.core.js')
    script(src='scripts/nudoru.browser.js')
    script(src='scripts/nudoru.components.js')
    script(src='scripts/nori.js')
    script(src='scripts/app.js')
    script(src='//localhost:9001/livereload.js')