doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Application
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,500,700|Oxygen:400,300,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='css/app.css')
    include templates-debug.html
  body
    script(src='scripts/config.js')
    script(src='scripts/libs.min.js')
    script(src='scripts/app.bundle.js')