.column-container
  .one-third-left-column
    h1.h1-alternate Mock Components
    ul.plain-list
      li
        button(id='action-one') Action One
      li
        button(id='action-two') Action Two
      li
        button(id='action-three') Action Three
      li
        button(id='action-four') Action Four
  .two-thirds-right-column

