<!--
BEGIN Templates for Views
-->
<script id="template__ControlsTesting" type="text/template">
    <div class="padded-content">
        <h1 class="h3-alternate">Route Testing</h1>
        <ul class="plain-list">
            <li>
                <button id="action-five">Route testing one</button>
            </li>
            <li>
                <button id="action-six">Route testing two</button>
            </li>
        </ul>
        <hr>
        <h1 class="h3-alternate">Mock Components</h1>
        <ul class="plain-list">
            <li>
                <button id="action-one">Modal message</button>
            </li>
            <li>
                <button id="action-two">Message</button>
            </li>
            <li>
                <button id="action-three">Notification</button>
            </li>
            <li style="margin-left: 400px">
                <button id="action-four">Tool tip</button>
            </li>
        </ul>
    </div>
</script>

<script id="template__UserProfilePanel" type="text/template">
    <div style="border-radius: 100px 0 0 100px" class="panel-shadow padding-none margin-bottom-double">
        <div class="user-info-header">
            <div class="image">
                <div class="user-profile-image">
                    <i class="fa fa-user"></i>
                </div>
            </div>
            <div class="name"><%= userName %></div>
        </div>
    </div>
</script>

<script id="template__Forecast" type="text/template">
    <div class="panel-shadow">
        <section class="padding-top-double">
            <section class="text-center">
                <h1 class="h2-alternate">Capacity Forecast</h1>
            </section>
            <section class="text-center padding-bottom-double">
                <button class="button-neutral-light">One Month</button>
                <button class="button-neutral-light">Three Month</button>
                <button class="button-neutral-light">Six Month</button>
                <button class="button-neutral-light">Year</button>
            </section>
            <table id="fc_p_table" class="table table-rows-zebra">
                <tbody>
                <% _.forOwn(projects, function(project, key) { %>
                    <tr id="fc_p_<%= project.projectID%>">
                        <th class="center-column"><%= project.projectTitle %></th>
                    </tr>
                <% }); %>
                </tbody>
                <tfoot>
                <tr>
                    <th class="right-column"></th>
                </tr>
                </tfoot>
            </table>
        </section>
        <section class="panel-message-footer margin-top-double">
            <h1 class="icon-left"><i class="fa fa-lightbulb-o"></i>Keep in Mind ...</h1>
            <p>Forecasts are based on current allocation percentages in addition to project start and end dates. Adjusting information in the assignments view will impact forecast estimates.</p>
        </section>
    </div>
</script>

<script id="template__Assignments" type="text/template">
    <div class="panel-shadow">
        <section class="padding-top-double">
            <section class="text-center padding-bottom-double">
                <h1 class="h2-alternate">Active Assignments</h1>
            </section>
            <table id="asn_p_table" class="table table-rows-zebra">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="column-20pct center-column">Start Date</th>
                    <th scope="col" class="column-20pct center-column">End Date</th>
                    <th scope="col" class="column-10pct center-column">Primary Role</th>
                    <th scope="col" class="column-20pct right-column"></th>
                </tr>
                </thead>
                <tbody>
                    <% _.forOwn(projects, function(project, key) { %>
                        <tr id="asn_p_<%= project.projectID%>">
                            <th><%= project.projectTitle %></th>
                            <td class="center-column">
                                <input id="input-text" type="text" placeholder="mm/dd" style="width: 100px" class="subtle">
                            </td>
                            <td class="center-column">
                                <input id="input-text" type="text" placeholder="mm/dd" style="width: 100px" class="subtle">
                            </td>
                            <td class="center-column">
                                <select id="input-select" class="subtle">
                                    <option>Consult</option>
                                    <option>Analysis</option>
                                    <option>Design</option>
                                    <option>Develop</option>
                                    <option>Rework</option>
                                    <option>Implement</option>
                                    <option>Evaluate</option>
                                </select>
                            </td>
                            <td class="right-column">
                                <button class="button-small button-icon-left button-neutral-light"><i class="fa fa-archive"></i>Remove</button>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <section class="panel-message-footer margin-top-double">
                <h1 class="icon-left"><i class="fa fa-lightbulb-o"></i>Keep in Mind ...</h1>
                <p>Placeholder</p>
            </section>
            <section class="panel-footer">
                <button class="button-icon-left pull-left"><i class="fa fa-plus-circle"></i>Add New Assignment</button>
                <button class="button-success icon-right">Update<i class="fa fa-check"></i></button>
            </section>
        </section>
    </div>
</script>

<script id="template__Timecard" type="text/template">
    <div class="panel-shadow">
        <section>
            <div class="column-container padding-top-double padding-bottom-triple">
                <div class="one-fourth-left-column">
                    <button class="button-small button-icon-left button-neutral-light"><i class="fa fa-chevron-circle-left"></i>Previous Wk</button>
                </div>
                <div class="half-left-column text-center">
                    <h1 class="h2-alternate"><%= calendar.currentWeek %>, <%= calendar.currentYear %></h1>
                    <!--button.button-icon-left.button-no-border-->
                    <!--  i.fa.fa-calendar-->
                    <!--  | View Full Month-->
                </div>
                <div class="one-fourth-right-column text-right">
                    <button class="button-small button-icon-right button-neutral-light">Next Wk<i class="fa fa-chevron-circle-right"></i></button>
                </div>
            </div>
            <table id="tc_p_table" class="table table-rows-zebra">
                <thead>
                <tr>
                    <th scope="col" style=""></th>
                    <th scope="col" style="width: 50px" class="center-column">Alloc</th>
                    <th scope="col" style="width: 50px" class="center-column">Mon</th>
                    <th scope="col" style="width: 50px" class="center-column">Tue</th>
                    <th scope="col" style="width: 50px" class="center-column">Wed</th>
                    <th scope="col" style="width: 50px" class="center-column">Thur</th>
                    <th scope="col" style="width: 50px" class="center-column">Fri</th>
                    <th scope="col" style="width: 130px" class="center-column">Wrk Type</th>
                    <th scope="col" style="width: 195px" class="center-column">Comments</th>
                </tr>
                </thead>
                <tbody>
                <% _.forOwn(projects, function(project, key) { %>
                    <tr id="tc_p_<%= project.projectID%>">
                        <th><%= project.projectTitle %></th>
                        <td class="center-column">
                            <input id="tc_p_alloc_<%= project.projectID%>" class="input-text" type="text" placeholder="" style="width: 40px" class="subtle">
                        </td>
                        <td class="center-column">
                            <input id="tc_p_monday_<%= project.projectID%>" class="input-text" type="text" placeholder="" style="width: 40px" class="subtle">
                        </td>
                        <td class="center-column">
                            <input id="tc_p_tuesday_<%= project.projectID%>" class="input-text" type="text" placeholder="" style="width: 40px" class="subtle">
                        </td>
                        <td class="center-column">
                            <input id="tc_p_wednesday_<%= project.projectID%>" class="input-text" type="text" placeholder="" style="width: 40px" class="subtle">
                        </td>
                        <td class="center-column">
                            <input id="tc_p_thursday_<%= project.projectID%>" class="input-text" type="text" placeholder="" style="width: 40px" class="subtle">
                        </td>
                        <td class="center-column">
                            <input id="tc_p_friday_<%= project.projectID%>" class="input-text" type="text" placeholder="" style="width: 40px" class="subtle">
                        </td>
                        <td class="center-column">
                            <select id="tc_p_work_<%= project.projectID%>" class="input-select" class="subtle">
                                <option></option>
                                <option>Consult</option>
                                <option>Analysis</option>
                                <option>Design</option>
                                <option>Develop</option>
                                <option>Rework</option>
                                <option>Implement</option>
                                <option>Evaluate</option>
                                <option>See comment</option>
                            </select>
                        </td>
                        <td class="center-column">
                            <input id="tc_p_comment_<%= project.projectID%>" class="input-text" type="text" placeholder="Comment" style="width: 178px" class="subtle">
                        </td>
                    </tr>
                <% }); %>
                </tbody>
                <tfoot>
                <tr>
                    <th class="right-column">Totals</th>
                    <th id="tc_sum_alloc" class="center-column"></th>
                    <th id="tc_sum_monday" class="center-column"></th>
                    <th id="tc_sum_tuesday" class="center-column"></th>
                    <th id="tc_sum_wednesday" class="center-column"></th>
                    <th id="tc_sum_thursday" class="center-column"></th>
                    <th id="tc_sum_friday" class="center-column"></th>
                    <th class="center-column"></th>
                    <th class="center-column"></th>
                </tr>
                </tfoot>
            </table>
            <section class="panel-message-footer margin-top-double">
                <div class="column-container">
                    <div class="three-fourths-left-column">
                        <h1 class="icon-left"><i class="fa fa-lightbulb-o"></i>Keep in Mind ...</h1>
                        <p>Combine weekend time into either Monday or Friday's hours. Select the role most representative of your work for the week. Add comments to clarify as needed.</p>
                    </div>
                    <div class="one-fourth-right-column text-right padding-top-double">
                        <button id="tc_btn-submit" class="button-icon-right"><span id="tc_btn-submit-label">Submit</span><i class="fa fa-check"></i></button>
                    </div>
                </div>
            </section>
        </section>
    </div>
</script>

<!--
END Templates for Views
-->