.panel-shadow
  .column-container
    h1.h4-alternate Welcome,
      em  Joe Timely
  section
    .column-container
      .two-thirds-left-column
        h1.h1-alternate
          i.fa.fa-calendar.icon-left
          | Week of
          em  May 10-16, 2015
      .one-third-right-column
        button.button-icon-left.button-neutral-light
          i.fa.fa-chevron-circle-left
          | Previous Week
        button.button-icon-right.button-neutral-light Next Week
          i.fa.fa-chevron-circle-right
    table.table.table-rows-zebra
      thead
        tr
          th(scope='col')
          th(scope='col').column-15pct Wk %
          th(scope='col').column-15pct Wk Hrs
          th(scope='col').column-15pct Wk Avg
          th(scope='col').column-25pct
      tbody
        tr
          th ABC Project
          td
            input(id='input-text', type='text', placeholder='%', style='width: 75px')
          td
            input(id='input-text', type='text', placeholder='hrs', style='width: 75px')
          td 25 hrs
          td
            button.button-icon-left.button-no-border
              i.fa.fa-archive
              | Archive Project
        tr
          th XYZ Solution
          td
            input(id='input-text', type='text', placeholder='%', style='width: 75px')
          td
            input(id='input-text', type='text', placeholder='hrs', style='width: 75px')
          td 7 hrs
          td
            button.button-icon-left.button-no-border
              i.fa.fa-archive
              | Archive Project
        tr
          th PTO
          td
            input(id='input-text', type='text', placeholder='%', style='width: 75px')
          td
            input(id='input-text', type='text', placeholder='hrs', style='width: 75px')
          td 8 hrs
          td
            button.button-icon-left.button-no-border
              i.fa.fa-archive
              | Archive Project
      tfoot
        tr
          th Totals
          th 100%
          th 40 hrs
          th
          th
            button.button-icon-right.button-success Submit
              i.fa.fa-check
    hr
    button.button-icon-left
      i.fa.fa-plus
      | Add New Project