.panel-shadow.padding-none.margin-bottom-double(style='border-radius: 100px 0 0 100px')
  .user-info-header
    .image
      .user-profile-image
        //img(src='img/animals/racoon.jpg')
        i.fa.fa-user
    .name Elliott Manfredonia