//http://codepen.io/sawmac/pen/qGudy

// generic transform
=transform($transforms) 
  -moz-transform: $transforms
  -o-transform: $transforms
  -ms-transform: $transforms
  -webkit-transform: $transforms
  transform: $transforms

// rotate
=rotate($deg)
  +transform(rotate($deg))

// scale
=scale($scale) 
  +transform(scale($scale))

// translate
=translate($x, $y)
  +transform(translate($x, $y))

// skew
=skew($x, $y)
  +transform(skew($x, $y))

//transform origin
=transform-origin ($origin) 
  moz-transform-origin: $origin
  -o-transform-origin: $origin
  -ms-transform-origin: $origin
  -webkit-transform-origin: $origin
  transform-origin: $origin
